@font-face {
    font-family: Christmas ; 
    src: url(Hi-Christmas-Personal-Use.otf)}

html {
    font-family: Christmas ; 
    
    color:red;
    font-size:50px;
    
}

h1 {

    text-align: center; 
}


h2 {

    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size:20px;
    color:chartreuse


}


h3 {

    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
    color:crimson
}
h4 {

    
    text-align: center; 

    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:aqua
}

